table#expenses tbody td.expense {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/icons/expense.png); }


table#payments tbody td.payment {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/icons/payment.png); }


table#users tbody td.admin, table#users tbody td.user {
  background-repeat: no-repeat;
  background-position: center center; }
table#users tbody td.admin {
  background-image: url(../images/icons/admin.png); }
table#users tbody td.user {
  background-image: url(../images/icons/user.png); }


table#balance tbody td.creditor {
  color: green; }
table#balance tbody td.debitor {
  color: red; }
